<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--spring bean 管理-->
    <bean class="com.kaishengit.service.impl.jobDetail.MyJobSpring" id="myJobSpring"/>


    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="myJobSpring"/>
        <property name="targetMethod" value="doSomething"/>
    </bean>

    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="cronExpression" value="0/5 * * * * ?"/>
    </bean>

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">

        <property name="dataSource" ref="dataSource"/>

        <property name="transactionManager" ref="transactionManager"/>

        <property name="configLocation" value="classpath:quartz.properties"/>

        <property name="overwriteExistingJobs" value="true"/>

        <!--<property name="triggers">


            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>-->
    </bean>



</beans>