<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.kaishengit.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
<!--    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />-->
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
  </resultMap>

  <resultMap id="UserMap" type="com.kaishengit.entity.User" extends="BaseResultMap">
      <collection property="deptList" ofType="com.kaishengit.entity.Dept">
        <id column="dept_id" property="id"/>
        <result column="dept.deptName" property="deptName"/>
        <result column="p_id" property="pId"/>
      </collection>
  </resultMap>




  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_name, password, createtime, updatetime, mobile
  </sql>
  <select id="selectByExample" parameterType="com.kaishengit.entity.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="findAllUserWithDept" resultMap="UserMap">
    SELECT
        t_user.*, t_dept.id AS 'dept_id',
        t_dept.dept_name AS 'dept.deptName',
        t_dept.p_id
    FROM
        t_user
    LEFT JOIN t_user_dept ON t_user.id = t_user_dept.uid
    LEFT JOIN t_dept ON t_user_dept.did = t_dept.id


  </select>





  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kaishengit.entity.UserExample">
    delete from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kaishengit.entity.User">
    insert into t_user (id, user_name, password, 
      createtime, updatetime, mobile
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{mobile,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kaishengit.entity.User" useGeneratedKeys="true" keyProperty="id">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
<!--      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>-->
      <if test="mobile != null">
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
<!--      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>-->
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kaishengit.entity.UserExample" resultType="java.lang.Long">
    select count(*) from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="findUserListWithDeptId" resultType="com.kaishengit.entity.User">

        SELECT
        t_user.*, t_dept.id AS 'dept_id',
        t_dept.dept_name AS 'dept.deptName',
        t_dept.p_id
    FROM
        t_user
    LEFT JOIN t_user_dept ON t_user.id = t_user_dept.uid
    LEFT JOIN t_dept ON t_user_dept.did = t_dept.id
    WHERE
        t_user.id IN (
            SELECT
                t_user.id
            FROM
                t_user
            LEFT JOIN t_user_dept ON t_user.id = t_user_dept.uid
            LEFT JOIN t_dept ON t_user_dept.did = t_dept.id
            WHERE
                t_dept.id = #{deptId}
        )

  </select>


  <resultMap id="UserWithDeptMap" type="com.kaishengit.entity.User" extends="BaseResultMap">
    <collection property="deptList" ofType="com.kaishengit.entity.Dept">
      <id property="id" column="dept_id"/>
      <result property="deptName" column="dept_name"/>
      <result property="pId" column="p_id"/>
    </collection>
  </resultMap>


  <select id="findByDeptId" resultMap="UserWithDeptMap">

    SELECT
    t_user.*, t_dept.id AS dept_id,
    t_dept.dept_name,
    t_dept.p_id
    FROM
    t_user
    INNER JOIN t_user_dept ON t_user.id = t_user_dept.uid
    INNER JOIN t_dept ON t_user_dept.did = t_dept.id
    INNER JOIN (
    <choose>
      <when test="deptId != null and deptId != ''">
        SELECT
        id
        FROM
        t_user
        INNER JOIN t_user_dept ON t_user_dept.uid = t_user.id
        <where>
          t_user_dept.did = #{deptId}
          <if test="userName != null and userName != ''">
            and user_name like concat('%',#{userName},'%')
          </if>
        </where>
        LIMIT #{start},#{length}
      </when>
      <otherwise>
        SELECT
        id
        FROM
        t_user
        <where>
          <if test="userName != null and userName != ''">
            user_name like concat('%',#{userName},'%')
          </if>
        </where>
        LIMIT #{start},#{length}
      </otherwise>
    </choose>
    ) AS temp ON t_user.id = temp.id
    order by t_user.id desc


  </select>
  <select id="countByDeptId" resultType="java.lang.Long">

    select count(*) from t_user
    <if test="deptId != null and deptId != ''">
      inner join t_user_dept on t_user.id = t_user_dept.uid
      where t_user_dept.did = #{deptId}
    </if>

  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_user
    set id = #{record.id,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      mobile = #{record.mobile,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kaishengit.entity.User">
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kaishengit.entity.User">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      mobile = #{mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>